@import '../../styles/variables.scss';

.Superhero__cape-shadow {
  fill: $pistachio;
}

.Superhero__cape-main {
  fill: $pistachio-light;
}

.Superhero__iris {
  fill: $pistachio;
}

.Superhero__boot-shadow {
  fill: $queenblue-dark;
}

.Superhero__boot {
  fill: $queenblue;
}

.Superhero__glove {
  fill: $queenblue;
}

.Superhero__tongue {
  fill: #DD3432;
}

.Superhero__mask {
  fill: $palecerulean-dark;
}

.Superhero__accessory--accent {
  fill: $queenblue-dark;
}

.Superhero__clothing--main {
  fill: $palecerulean;
}

.Superhero__clothing--accent {
  fill: $palecerulean-dark;
}

.Superhero__nose {
  fill: #CCA183;
}

.Superhero__skin {
  fill: #DBB397;
}

.Superhero__mouth {
  fill: #212121;
}

.Superhero__cheeks {
  fill: #EF9884;
}

.Superhero__eye-shadow {
  fill: #E8E8E8;
}

.Superhero__eye--white {
  fill: #F4F3F2;
}

.Superhero__hair--accent {
  fill: #84563D;
}

.Superhero__hair--main {
  fill: #70482A;
}