@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.ThemeSelect {
  align-items: center;
  display: flex;
  margin: 30px 50px;

  legend,
  &__input,
  &__label span {
    @include accessible-hidden;
  }

  &__label {
    align-items: center;
    border-bottom: 4px solid transparent;
    display: flex;
    height: 50px;
    justify-content: center;
    margin-right: 8px;
  }

  &--rainbow {
    .ThemeSelect__label:hover {
      border-bottom-color: $rainbow-text-primary;
      transition: border-bottom-color .2s;
    }
  }

  &--dark {
    .ThemeSelect__label:hover {
      border-bottom-color: $dark-text-primary;
      transition: border-bottom-color .2s;
    }
  }

  &--light {
    .ThemeSelect__label:hover {
      border-bottom-color: $light-text-primary;
      transition: border-bottom-color .2s;
    }
  }


  .ThemeIcon {
    height: 40px;
    width: 40px;

    &.ThemeIcon--rainbow {
      path {
        stroke: $disabled-grey;
      }
    }

    &.ThemeIcon--crescent {
      height: 30px;

      path {
        fill: $disabled-grey;
        stroke: $disabled-grey;
      }
    }

    &.ThemeIcon--sun {
      height: 44px;

      path {
        fill: $disabled-grey;
      }
    }
  }



  &__input:focus+&__label,
  &__label:hover,
  &__input:checked+&__label {
    cursor: pointer;

    .ThemeIcon--rainbow {
      &.ThemeIcon--rainbow {
        path {
          stroke: $rainbow-text-primary;
        }
      }

      &.ThemeIcon--crescent {
        path {
          fill: $rainbow-text-primary;
          stroke: $rainbow-text-primary;
        }
      }

      &.ThemeIcon--sun {
        path {
          fill: $rainbow-text-primary;
        }
      }

    }

    .ThemeIcon--dark {
      &.ThemeIcon--rainbow {
        path {
          stroke: $dark-text-primary;
        }
      }

      &.ThemeIcon--crescent {
        path {
          fill: $dark-text-primary;
          stroke: $dark-text-primary;
        }
      }

      &.ThemeIcon--sun {
        path {
          fill: $dark-text-primary;
        }
      }
    }

    .ThemeIcon--light {
      &.ThemeIcon--rainbow {
        path {
          stroke: $light-text-primary;
        }
      }

      &.ThemeIcon--crescent {
        path {
          fill: $light-text-primary;
          stroke: $light-text-primary;
        }
      }

      &.ThemeIcon--sun {
        path {
          fill: $light-text-primary;
        }
      }
    }
  }


}