@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.ThemeSelect {
  align-items: center;
  display: flex;
  left: 50px;
  position: fixed;
  top: 100px;

  legend {
    @include accessible-hidden;
  }
}