@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.ThemeButton {

  &__input,
  &__label span {
    @include accessible-hidden;
  }

  &__label {
    align-items: center;
    border-bottom: 4px solid transparent;
    display: flex;
    height: 50px;
    justify-content: center;
    margin-right: 8px;

    &--rainbow:hover {
      border-bottom-color: $rainbow-text-header-secondary;
      transition: border-bottom-color .2s;
    }

    &--dark:hover {
      border-bottom-color: $dark-text-header-secondary;
      transition: border-bottom-color .2s;
    }

    &--light:hover {
      border-bottom-color: $light-text-header-secondary;
      transition: border-bottom-color .2s;
    }

    .ThemeIcon {
      height: 40px;
      width: 40px;

      &--rainbow {
        path {
          stroke: $disabled-grey;
        }
      }

      &--crescent {
        height: 30px;

        path {
          fill: $disabled-grey;
          stroke: $disabled-grey;
        }
      }

      &--sun {
        height: 44px;

        path {
          fill: $disabled-grey;
        }
      }
    }
  }

  &__input:focus+&__label,
  &__label:hover,
  &__input:checked+&__label {
    cursor: pointer;
  }


  &__input--rainbow:focus+&__label--rainbow,
  &__label--rainbow:hover,
  &__input--rainbow:checked+&__label--rainbow {
    .ThemeIcon--rainbow {
      path {
        stroke: $rainbow-text-header-secondary;
      }
    }

    .ThemeIcon--crescent {
      path {
        fill: $rainbow-text-header-secondary;
        stroke: $rainbow-text-header-secondary;
      }
    }

    .ThemeIcon--sun {
      path {
        fill: $rainbow-text-header-secondary;
      }
    }
  }

  &__input--dark:focus+&__label--dark,
  &__label--dark:hover,
  &__input--dark:checked+&__label--dark {

    .ThemeIcon--rainbow {
      path {
        stroke: $dark-text-header-secondary;
      }
    }

    .ThemeIcon--crescent {
      path {
        fill: $dark-text-header-secondary;
        stroke: $dark-text-header-secondary;
      }
    }

    .ThemeIcon--sun {
      path {
        fill: $dark-text-header-secondary;
      }
    }
  }

  &__input--light:focus+&__label--light,
  &__label--light:hover,
  &__input--light:checked+&__label--light {

    .ThemeIcon--rainbow {
      path {
        stroke: $light-text-header-secondary;
      }
    }

    .ThemeIcon--crescent {
      path {
        fill: $light-text-header-secondary;
        stroke: $light-text-header-secondary;
      }
    }

    .ThemeIcon--sun {
      path {
        fill: $light-text-header-secondary;
      }
    }
  }


}