// Colors
$rainbow-background-main: #F7DB4F;
$rainbow-background-accent: #2F9599;
$rainbow-text-main: black;
$rainbow-text-heading: #A7226E;
$rainbow-accent: #F26B38;
$rainbow-accent-2: #EC2049;

$atlantis-background-main: #0B0C10;
$atlantis-background-accent: #1F2833;
$atlantis-text-main: #C5C6C7;
$atlantis-text-heading: #66FCF1;
$atlantis-accent: #45A29E;

$sleek-background-main: #ffd670;
$sleek-background-accent: #f70d6f;
$sleek-text-main: black;
$sleek-text-heading: #e9ff70;
$sleek-accent: #f70d6f;

$tropical-background-main: #FEF900;
$tropical-background-accent: #F21A1D;
$tropical-text-main: black;
$tropical-text-heading: white;
$tropical-accent: #03DDDC;

$dark-grey: #2A363B;
$black: #000000;