@import '../../styles/variables.scss';

* {
  box-sizing: border-box;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  position: relative;
  width: 100vw;

  &--rainbow {
    background-color: $rainbow-background-main;
    color: $rainbow-text-main;
  }

  &--atlantis {
    background-color: $atlantis-background-main;
    color: $atlantis-text-main;
  }

  &--sleek {
    background-color: $sleek-background-main;
    color: $sleek-text-main;
  }

  &--tropical {
    background-color: $tropical-background-main;
    color: $tropical-text-main;
  }


}