@import '../../styles/variables.scss';

* {
  box-sizing: border-box;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  justify-content: space-between;
  position: relative;
  width: 100vw;

  &--rainbow {
    background-color: $rainbow-background-primary;
    color: $rainbow-text-primary;
  }

  &--dark {
    background-color: $dark-background-primary;
    color: $dark-text-primary;
  }

  &--light {
    background-color: $light-background-primary;
    color: $light-text-primary;
  }

}