@import '../../styles/variables.scss';

.Header {
  a {
    text-decoration: none;
  }

  &__heading {
    margin: 0 0 10px;
    padding: 10px 0;
    width: 100vw;

    &--rainbow {
      background-color: $rainbow-background-accent;
      color: $rainbow-text-heading;
    }

    &--atlantis {
      background-color: $atlantis-background-accent;
      color: $atlantis-text-heading;
    }

    &--sleek {
      background-color: $sleek-background-accent;
      color: $sleek-text-heading;
    }

    &--tropical {
      background-color: $tropical-background-accent;
      color: $tropical-text-heading;
    }

  }

}