@import '../../styles/variables.scss';

.Header {
  display: flex;
  height: 80px;
  justify-content: space-between;
  position: relative;
  width: 100vw;

  &__heading--main,
  &__heading--secondary {
    margin: 0;
    width: 50%;
  }

  &__heading--main {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bold;
    padding: 16px;
    text-align: right;

    a {
      text-decoration: none;
    }
  }

  &__heading--secondary {
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-weight: bold;
    line-height: 80px;
    padding-left: 16px;
  }


  &__triangle {
    border-right: 80px solid transparent;
    height: 0;
    width: 0;
  }

  &--rainbow {
    .Header__heading--main {
      background-color: $rainbow-accent-primary;
    }

    .Header__heading--secondary {
      color: $rainbow-text-header-secondary;
    }

    &,
    a {
      color: $rainbow-text-header-primary;
    }

    .Header__triangle {
      border-top: 80px solid $rainbow-accent-primary;
    }

  }

  &--dark {
    .Header__heading--main {
      background-color: $dark-accent-primary;
    }

    .Header__heading--secondary {
      color: $dark-text-header-secondary;
    }

    &,
    a {
      color: $dark-text-header-primary;
    }

    .Header__triangle {
      border-top: 80px solid $dark-accent-primary;
    }

  }

  &--light {
    .Header__heading--main {
      background-color: $light-accent-primary;
    }

    .Header__heading--secondary {
      color: $light-text-header-secondary;
    }

    &,
    a {
      color: $light-text-header-primary
    }

    .Header__triangle {
      border-top: 80px solid $light-accent-primary;
    }

  }
}