@import '../../styles/variables.scss';

.Header {
  a {
    text-decoration: none;
  }

  &__heading {
    text-align: center;

    &--rainbow {
      color: $rainbow-magenta;
    }

    &--shoreline {
      color: $shoreline-teal;
    }

    &--nobility {
      color: $nobility-royalty;
    }

    &--beach {
      color: $beach-sunburst;
    }

  }

}