@import '../../styles/variables.scss';

.Footer {
  bottom: 0;
  display: flex;
  position: fixed;
  right: 0;

  &__triangle {
    border-bottom-width: $footer-height-mobile;
    border-bottom-style: solid;
    border-left: $footer-height-mobile solid transparent;
    height: 0;
    transform: translate(-$footer-height-mobile);
    width: 0;
  }

  &__link {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: $footer-height-mobile;
    padding-right: $footer-height-mobile;
    text-decoration: none;
  }

  &--rainbow {
    background-color: $rainbow-accent-secondary;

    .Footer__triangle {
      border-bottom-color: $rainbow-accent-secondary;
    }

    .Footer__link {
      color: $rainbow-text-header-primary;
    }
  }

  &--dark {
    background-color: $dark-accent-secondary;

    .Footer__triangle {
      border-bottom-color: $dark-accent-secondary;
    }

    .Footer__link {
      color: $dark-text-primary;
    }
  }

  &--light {
    background-color: $light-accent-secondary;

    .Footer__triangle {
      border-bottom-color: $light-accent-secondary;
    }

    .Footer__link {
      color: $light-text-primary;
    }
  }

}

/* XL Desktop Screen Size */

@media (min-width: $screen-lg-min) {
  .Footer {

    &__triangle {
      border-bottom-width: $footer-height-desktop;
      border-left: $footer-height-desktop solid transparent;
      transform: translate(-$footer-height-desktop);
    }

    &__link {
      font-size: 20px;
      line-height: $footer-height-desktop;
      padding-right: $footer-height-desktop;
    }
  }
}