@import '../../styles/variables.scss';

.VotePage {
  &__form {
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .4);
    height: 550px;
    margin: 0 auto;
    padding: 16px 50px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 800px;

    &--rainbow {
      background: $rainbow-background-secondary;
      border-top: 15px $rainbow-accent-primary solid;

      .VotePage__heading {
        color: $rainbow-text-header-primary;
      }

      .VotePage__link {
        color: $rainbow-text-header-primary;

        &:hover,
        &:focus {
          border-bottom: 1px solid $rainbow-text-header-primary;
        }
      }
    }

    &--dark {
      background: $dark-background-secondary;
      border-top: 15px $dark-accent-primary solid;

      .VotePage__link {
        color: $dark-text-primary;

        &:hover,
        &:focus {
          border-bottom: 1px solid $dark-text-primary;
        }
      }
    }

    &--light {
      background: $light-background-secondary;
      border-top: 15px $light-accent-primary solid;

      .VotePage__link {
        color: $light-text-primary;

        &:hover,
        &:focus {
          border-bottom: 1px solid $light-text-primary;
        }
      }
    }

    .VotePage__heading {
      font-family: 'Roboto', sans-serif;
      font-size: 36px;
      font-weight: 400;
      margin: 0 0 10px;
    }

    .VotePage__link {
      text-decoration: none;
    }

    .VotePage__list {
      list-style: none;
      margin-top: 30px;
      padding: 0;
      width: 100%;
    }

    .VotePage__listItem {
      width: 100%;
    }
  }
}